@font-face {
    font-family: 'verdana';
    src: url(/fonts/verdana.ttf)
}

@font-face {
    font-family: 'helios';
    src: url(/fonts/HE_CN.ttf);
}

@font-face {
    font-family: 'verdanab';
    src: url(/fonts/verdanab.ttf);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {

    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    max-width: 780px;
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: "verdanab", serif;
    font-size: 11px;
    color: black;
}
a:hover, a:visited, a:focus, a:active {
    text-decoration: none;
}
/*----------header--------------*/
header {
    height: 123px;
    width: 100%;
    overflow: hidden;
    background: url("jpeg/header-top.png") no-repeat;
}

/*------
.grafika img {
    float: right;
    margin-top: -31px;
}

.grafika1 {
    height: 6px;
    width: 100%;
    background-color: #5fb2a1;
}

.test1 {
    background-color: #5fb2a1;
    height: 9px;
    width: 213px;
    float: right;
    transform: skew(45deg);
    margin-right: -10px;
}

.layer2 {
    background-color: #bfe0d9;
    height: 34px;
    box-shadow: 0 10px 25px 0 rgba(118, 189, 174, 0.4);
    border: #bfe0d9 5px;
}

.layer2_left_right {
    top: -5px;
    z-index: 2;
}

.left {
    background-color: #bfe0d9;
    box-shadow: 10px 10px 25px 0 #84c3b7;
    width: 257px;
    height: 32px;
    float: left;
    transform: skew(-45deg);
    margin-left: -15px;
}

.right {
    background-color: #bfe0d9;
    box-shadow: -10px 10px 25px 0 #84c3b7;
    right: -8px;
    width: 77px;
    height: 15px;
    float: right;
    transform: skew(45deg);
    margin-right: -10px;
}
*/
.logo {
    margin: 18px 0 0 22px;
    position: absolute;
    float: left;
    z-index: 1;
}
.logo h1 {
    font-size: 26px;

}

.logo p {
    color: #327f6f;
    text-align: center;
    font-family: sans-serif, 'HeliosCond';
    font-size: 12px;
}

.com {
    font-size: 16px;
}

.Logo-Name {
    color: #05614e;
}

.bottom {
    height: 10px;
    width: 100%;
    float: left;
    background-color: #008469;
}

.b2 {
    height: 9px;
    width: 215px;
    background-color: #008469;
    float: left;
    position: relative;
    margin-top: -9px;
    margin-left: -10px;
    transform: skew(45deg);
}
/*----------content--------------*/
.photo {
    float: left;
    width: 140px;
    overflow: hidden;
}
.photo img{
    float: left;
    margin: 0 20px 35px 22px;
    width: 100px;
    height: 90px;
}
.main-info {
    width: 620px;
    display: block;
    float: right;
    background: #ffffff;
    overflow: hidden;
}
.company_news {
    float: left;
    width: 160px;
    height: 100vh;
    padding: 0;
    background: #008469;
    color: #d3e4df;
    position: relative;
}
.company_news_logo {
    font-family: 'helios', sans-serif;
    font-size: 14px;
    margin-left: 16px;
}

.content h1 {
    font-family: 'verdana', serif;
    font-size: 16px;
    margin: 20px 0 0 20px;
    font-weight: bold;
}
.organize{

}
.organize h3{
    font-family: "verdanab", serif;
    font-size: 16px;
}
.organize p {
    font-family: 'verdana', monospace ;
    font-size: 11px;
    display: block;
    width: 445px;
    margin: 13px 0 13px 140px;
}
.new {
    margin: 18px;
    font-family: 'verdana', serif;
    font-size: 12px;
}

.name {
    padding: 21px 0 20px 22px;
    font-family: 'helios', sans-serif ;
}

/*----------NAv--------------*/
nav {
    border-top: 4px solid #bfe0d9;
    clear: both;
    background: linear-gradient(to bottom, rgba(67, 164, 145, 1) 0%,
    rgba(67, 164, 145, 1) 11%, rgba(67, 164, 145, 1) 24%,
    rgba(120, 207, 188, 1) 59%, rgba(170, 212, 203, 1) 88%, rgba(170, 212, 203, 1) 100%);
    width: 620px;
    display: block;
    box-shadow: 8px 15px 24px -2px rgba(154, 206, 196, 0.83);

}

nav ul {
    margin: 0 12px 0 20px;
}

nav ul li {
    display: inline-block;
    margin: 12px;
    font-size: 11px;
    font-family: 'verdanab', serif;
    color: black;
    font-weight: bold;
}

nav ul li:not(:last-child):after {
    clear: both;
    content: "/";
    position: absolute;
    padding: 0 12px;

}

/*----------footer--------------**/
footer {
    height: 40px;
    width: 100%;
    display: block;
    clear: both;
    background: url('jpeg/footer.png');
    font-size: 11px;

}

footer p {
    font-size: 11px;
    padding: 9px 0 0 48px;
    font-family: 'verdana', serif;
}





